# ignoring both Competition_1 and Default_Prediction directories as they are still under development
Default_Prediction/
Competitions_1/
Competitions/African_inclusion_competition/SampleSubmission.csv
Competitions/African_inclusion_competition/Test.csv
Competitions/African_inclusion_competition/Train.csv
Competitions/African_inclusion_competition/VariableDefinitions.csv
